@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);


#slider-27 H1 {
  color: #f7da64;
}
#msg-box4-2z .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2z .mbr-article {
  color: #ffffff;
}
#features1-2r .mbr-section__col .mbr-header__text {
  color: #3ed1e5;
  font-size: 20px;
}
#features1-2r P {
  text-align: center;
  font-size: 16px;
}
#features1-2r .mbr-section__col .mbr-header__text SPAN {
  color: #cccccc;
  font-size: 14px;
}
#features1-2s .mbr-section__col .mbr-header__text {
  color: #3ed1e5;
  font-size: 19px;
}
#features1-2s .mbr-section__col .mbr-header__text SPAN {
  color: #cccccc;
  font-size: 14px;
}
#msg-box3-2t .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2t .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2t .btn {
  font-size: 23px;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #347a9f;
}
#ext_menu-7 .mbr-navbar__section {
  background: #347a9f;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #4c6972;
}
#ext_menu-7 .mbr-brand__name a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-7 .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
#contacts2-38 P {
  text-align: center;
  color: #efefef;
  font-size: 15px;
}
#contacts2-38 I {
  font-size: 16px;
  color: #ffffff;
}
#contacts2-38 B {
  color: #efefef;
  font-size: 16px;
}




#content5-3d .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-3d .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3d .mbr-article {
  color: #fff;
}
#content5-3d .mbr-article P {
  text-align: center;
}
#testimonials1-3b .mbr-section__header {
  color: #ffffff;
}
#testimonials1-3b .mbr-reviews__text {
  color: #000000;
}
#testimonials1-3b .mbr-reviews__text P {
  color: #000000;
}
#features1-3g .btn {
  font-size: 17px;
  font-family: 'Droid Serif', serif;
}
#features1-3g .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2v .mbr-header__text {
  color: #ffffff;
  text-align: left;
}
#msg-box4-2v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2v .mbr-article {
  color: #ffffff;
}
#content5-3a .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
#content5-3a .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3a .mbr-article {
  color: #fff;
}
#social-buttons2-1i .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #347a9f;
}
#ext_menu-7 .mbr-navbar__section {
  background: #347a9f;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #4c6972;
}
#ext_menu-7 .mbr-brand__name a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-7 .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
#contacts2-38 P {
  text-align: center;
  color: #efefef;
  font-size: 15px;
}
#contacts2-38 I {
  font-size: 16px;
  color: #ffffff;
}
#contacts2-38 B {
  color: #efefef;
  font-size: 16px;
}






#msg-box3-1p .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1p .mbr-article P {
  text-align: center;
  color: #ffe43c;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}
#pricing-table1-l H3 {
  color: #ffffff;
  font-size: 19px;
  font-family: 'PT Serif', serif;
}
#pricing-table1-l SPAN {
  font-size: 60px;
}
#pricing-table1-l P {
  text-align: center;
  color: #252525;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
}
#pricing-table1-l DIV {
  text-align: center;
  font-size: 32px;
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#pricing-table1-l SUP {
  font-size: 25px;
}
#pricing-table1-l UL {
  font-size: 30px;
  color: #060606;
}
#features1-2o .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#features1-2o .mbr-section__col .mbr-header__text {
  color: #ffffff;
  font-size: 18px;
}
#features1-2o .mbr-section-title .mbr-header__text DIV {
  color: #ffffff;
}
#msg-box3-3i .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3i .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3i .btn {
  font-size: 23px;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #347a9f;
}
#ext_menu-7 .mbr-navbar__section {
  background: #347a9f;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #4c6972;
}
#ext_menu-7 .mbr-brand__name a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-7 .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
#contacts2-38 P {
  text-align: center;
  color: #efefef;
  font-size: 15px;
}
#contacts2-38 I {
  font-size: 16px;
  color: #ffffff;
}
#contacts2-38 B {
  color: #efefef;
  font-size: 16px;
}






#header1-8 P {
  color: #00a885;
  text-align: center;
}
#header1-8 H1 {
  color: #182d4d;
  font-size: 72px;
  text-align: center;
  font-family: 'PT Serif', serif;
}
#header1-8 SPAN {
  text-align: center;
  color: #41eaff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 72px;
}
#header1-8 I {
  color: #3d8eb9;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-size: 60px;
}
#features1-2g .btn {
  font-size: 17px;
  font-family: 'Droid Serif', serif;
}
#features1-2g .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#social-buttons2-1b .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #347a9f;
}
#ext_menu-7 .mbr-navbar__section {
  background: #347a9f;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #4c6972;
}
#ext_menu-7 .mbr-brand__name a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-7 .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
#contacts2-38 P {
  text-align: center;
  color: #efefef;
  font-size: 15px;
}
#contacts2-38 I {
  font-size: 16px;
  color: #ffffff;
}
#contacts2-38 B {
  color: #efefef;
  font-size: 16px;
}



#msg-box4-3r .mbr-header__text {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#msg-box4-3r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3r .mbr-article {
  color: #ffffff;
}
#msg-box4-3s .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3s .mbr-article {
  color: #ffffff;
}
#ext_menu-3m .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3m.mbr-navbar--stuck .mbr-navbar__section {
  background: #347a9f;
}
#ext_menu-3m .mbr-navbar__section {
  background: #347a9f;
}
#ext_menu-3m .mbr-navbar__hamburger {
  color: #4c6972;
}
#ext_menu-3m .mbr-brand__name a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-3m .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
#contacts2-3n P {
  text-align: center;
  color: #efefef;
  font-size: 15px;
}
#contacts2-3n I {
  font-size: 16px;
  color: #ffffff;
}
#contacts2-3n B {
  color: #efefef;
  font-size: 16px;
}
